@use 'variables';

header {

    div {
        display: variables.$main-display;
        background: variables.$main-bg-header-color;
        text-align: center;

        .first-header-wrapper {
            padding: 10px 0px 13px 473px;

            .shop-info {
                width: 454px;
                color: #FFF;
                font-family: variables.$font-main;
                font-size: 16px;
                font-weight: variables.$font-weight-six;
                letter-spacing: 0.5px;
            }
        }

        .second-header-wrapper {
            padding: 10px 0px 13px 200px;
            gap: 23px;

            .currency {
                color: #FFF;
                font-family: variables.$font-main;
                font-size: 16px;
                letter-spacing: 0.5px;
                text-align: center;

            }

            .support {
                color: #FFF;
                font-family: variables.$font-main;
                font-size: 16px;
                font-weight: variables.$font-weight-seven;
                letter-spacing: 0.5px;
                text-align: center;
            }
        }
    }

    nav {
        display: variables.$main-display;
        background: variables.$color-white;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        z-index: 1;
        position: relative;

        div {
            background: variables.$color-white;

            .img-wrapper {
                padding: 12px 0px 12px 86px;

            }

            ul {
                display: variables.$main-display;
                padding: 9px 0px 9px 172px;
                gap: 67px;

                li {
                    list-style: none;
                    color: #000;
                    font-family: variables.$font-main;
                    font-size: 17px;
                    letter-spacing: -0.6px;
                    padding: 10px;
                }
            }

            div {
                padding: 0px 0px 0px 106px;

                div {
                    padding: 16px 0px 14px 0px;;

                    input {
                        border: none;
                        width: 57px;
                        text-align: center;
                        flex-shrink: 0;
                        color: var(--Text-Secondary, #979797);
                        font-family: variables.$font-main;
                        font-size: 17px;
                        letter-spacing: -0.6px;
                    }

                    button {
                        border: none;
                        background: variables.$color-white;
                        cursor: pointer;

                        img {
                            margin-left: 11px;
                        }
                    }
                }

                .border {
                    border: 1px solid gray;
                    height: 46px;
                    margin: 7px 0px 8px 25px;
                }

                .bucket {

                    img {
                        margin-left: 25px;
                    }

                    p {
                        padding-top: 9px;
                        margin-left: 8px;
                    }
                }
            }
        }

    }





// line-throut

    section {



        .banner {
            position: relative;
            background-color: #E8EDDE;
            background-image: url('../media/hero-plants.png');
            background-size: cover;
            width: 1400px;
            height: 810px;


            div {
                flex-direction: column;
                position: absolute;




                .text-wrapper {
                    align-items: center;
                    margin: 0px 403px 0px 403px;
                    width: 594px;
                    height: 810px;
                    flex-shrink: 0;
                    background: rgba(80, 128, 107, 0.20);
                    backdrop-filter: blur(20px);
                    background: #50806B33;

                    h1 {
                        color: #000;
                        text-align: center;
                        font-family: variables.$font-secont;
                        font-size: 80px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 80px;
                        letter-spacing: 2.4px;
                        margin: 157px 26px 27px 26px;
                        width: 542px;
                        height: 188px;
                    }

                    p {
                        color: #000;
                        text-align: center;
                        font-family: variables.$font-secont;
                        font-size: 22px;
                        width: 415px;
                        height: 92px;
                        margin: 0px 80px 36px 84px;
                        line-height: 40px;
                    }

                    button {
                    //  @include variables.buttonGreen;
                    display: inline-flex;
                    padding: 24px 56px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 20px;
                    background: #FFF;
                    border: none;
                    color: #000;
                    text-align: center;
                    font-family: variables.$font-main;
                    font-size: 22px;
                    font-weight: variables.$font-weight-six;
                    line-height: 22px;
                    letter-spacing: -0.4px;
                    text-transform: uppercase;
                    }
                }
            }


        }
    }


    .green-border {
        width: 1400px;
        height: 39px;

    }

}