@use 'variables';


main {
    section{
        .shop-category{
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 112px;
             div {
                
                
                h2{
                    color: #000;
                    font-family: variables.$font-secont;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                    margin: 32px 0px 32px 0px;
                    span{
                        color:#50806B ;
                        font-family: variables.$font-secont;
                        font-size: 56px;
                        font-weight: 600;
                        line-height: 120%;
                    }
                }
             }

             div {
                a {
                    color: #000;
                    text-align: right;
                    font-family: variables.$font-secont;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21.7px;
                    text-transform: uppercase;
                    text-decoration: none;
                }
              
             }
        }

        .category-wrapper {
            display: flex;
            gap: 25px;
            text-align: center;
            margin-top: 52px;
            justify-content: space-evenly;
            div {
                max-width: 180px;
                max-height: 131px;
            }

            img {
                width: 180px;
                height: 180px;
            }

            p {
                color: #343434;
                text-align: center;
                font-family: variables.$font-main;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 3.2px;
                text-transform: uppercase;
            }
        }
    }


    .selling-wrapper {
        display: flex;
        gap: 26px;
        margin: 55px 0px 126px 0px;
        justify-content: space-between;
        .product-card {
            border: none;
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
            width: 384px;
            height: 424px;
             img {
                padding: 20px;
           

             }
             button {
                border-radius: 8px;
                background: var(--Green, #50806B);
                box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
                display: flex;
                flex-wrap: wrap;
                padding: 15px 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 344px;
                margin: 0px 20px 0 20px;
                color: #FFF;
                text-align: center;
                font-family: variables.$font-main;
                font-size: 20px;
                font-weight: 700;
                border: none;
                cursor: pointer;
             }

        }
    }

   
        
        .grid-conteiner {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        gap: 25px;
        margin-top: 50px;
        .card-product {
            width: 266px;
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
            padding: 20px;
            margin-left: auto;
            margin-right: auto;
            
            img {
                width: 226px;
            }

            .grass-description {
                color: #343434;
                font-family: variables.$font-main;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 4px;
            }
            .grass-price {
                color: #343434;
                font-family: variables.$font-main;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 16px;
            }

            button {
                border-radius: 8px;
                background: var(--Green, #50806B);
                box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
                color: #FFF;
                text-align: center;
                font-family: Open Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                height: 64px;
                padding: 8px;
                width: 236px;
                border: none;

            }
        }
    }

    .flex-conteiner {
        display: flex;
        gap: 25px;
        margin-top: 25px;
        .card-product {
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);

            .grass-description {
                color: #343434;
                font-family: variables.$font-main;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 4px;
            }
            .grass-price {
                color: #343434;
                font-family: variables.$font-main;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 16px;
            }

            button {
                border-radius: 8px;
                background: var(--Green, #50806B);
                box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
                color: #FFF;
                text-align: center;
                font-family: Open Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                height: 64px;
                padding: 8px;
                width: 236px;
                border: none;
            }
        }
    }

    .reviews-conteiner {
        background: #E8EDDE;
        .reviews-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            h3 {
                color: #000;
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: variables.$font-secont;
                font-size: 56px;
                font-style: normal;
                font-weight: 500;
                line-height: 62px; /* 110.714% */
                letter-spacing: -2.4px;
            }
            p{
                color: #000;
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: variables.$font-secont;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 27.6px; /* 153.333% */
                letter-spacing: 0.1px;
            }
             
        }
    }
    

}